<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'All Items', items_path %></li>
  <li><%= link_to 'New Item', new_item_path %></li>
</ul>

<br>

<h2>Your Tracked Items</h2>

<br>

<table class="table table-striped table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th><i class="glyphicon glyphicon-time"></i> Last Updated</th>
      <th class="expand"><i class="glyphicon glyphicon-asterisk"></i> Name</th>
      <th class="expand"><i class="glyphicon glyphicon-comment"></i> Notes</th>
      <th class="expand"><i class="glyphicon glyphicon-tags"></i> Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td class="tiny-date"><%= item.updated_at.strftime("%-m/%-d/%y %l:%M%P").chop %></td>
        <td class="small-date"><%= item.updated_at.strftime("%-m/%-d/%y %l:%M%P") %></td>
        <td class="medium-date shrink"><%= item.updated_at.strftime("%b %e, %y @ %l:%M %P") %></td>
        <td class="large-date shrink"><%= item.updated_at.strftime("%a. %B %e, %Y @ %l:%M %P") %></td>
        <td class="full-date shrink"><%= item.updated_at.strftime("%A, %B %e, %Y @ %l:%M %P") %></td>
        <td class="expand"><%= item.title %></td>
        <td class="expand"><%= item.notes %></td>
        <td class="expand"><%= item.tags %></td>
        <td class="shrink"><%= link_to item_path(item), class: 'btn btn-primary btn-xs' do %>
              <i class="glyphicon glyphicon-list"></i> Show Log Entries <% end %>
            <%= link_to edit_item_path(item), class: 'btn btn-warning btn-xs' do %>
              <i class="glyphicon glyphicon-pencil"></i> Edit Info <% end %>
            <%= link_to item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do %>
              <i class="glyphicon glyphicon-trash"></i> Delete Item <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_item_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Track a New Item
<% end %>
